/*****************************************************************************
 All pages
*****************************************************************************/

html, body {
  margin: 0 0 0 0;
  width: 100%;
}

.header {
  background-color: #3A3B3B;
  height: 125px;
}

.center {
  max-width: 800;
  margin: auto;
  clear: both;
}

#logo {
  height: 125px;
}

.header-left {
  float: left;
}

.header-right {
  position: relative;
  padding: 7px;
}

.clear {
  clear: both;
}

h1 {
  font-size: 22pt;
  padding: 0px;
  margin: 0px;
  color: #ffffff;
  font-weight: bold;
}

.header-p {
  color: #ffffff;
}

@media screen and (max-width: 260px){
    .header-p {
      font-size: 8pt
    }
}

@media screen and (max-width: 233px){
    .header-p {
      visibility:hidden;
    }
}

@media screen and (max-width: 186px){
  h1 {
      visibility:hidden;
  }
  .header-left {
    text-align: center;
  }
  .header-left {
    width: 100%;
  }
}

.menu-year {
  margin-right: 5px;
}

.menu-button-up {
  background-color: #eeeeee;
}

.menu-button-down {
  background-color: #aaaaaa;
}

.menu {
  width: 100%;
    background-color: #282828;  
}

ul.topnav {
    list-style-type: none;
    margin: auto;
    padding: 0;
    max-width: 800px;
    overflow: hidden;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 613px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

.episode-button-sm {
  float: left;
  border-radius: 9px;
  background-color: #c997fe;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 8pt;
  padding:0 0 0 1px;  
  margin-right: 5px;  
}

.footer {
  text-align: center;
  margin: auto;
  margin-top: 5px;
}

.footer-links {
  padding: 5px;
}
.footer-img {
  height: 25px;
}

.loading {
  font-size: 18pt;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/*****************************************************************************
 Player.js
*****************************************************************************/

.player {
  width: 200px;
  height: 20px;
  padding: 1px;
}

.player-progress-bar {
  margin-left: 275px;
  margin-right: 50px;
  padding: 9px;
}

.player-title-container {
  float: left;
  width: 250px;
  overflow: hidden;
}

.player-title {
  overflow: hidden;
  height: 20px;
  float: left;
  font-size: 10pt;
  color: #fff;
}

.player-duration-container {
  float: right;
  margin-top: -23px;
}

.player-duration {
  font-size: 12pt;
  color: #fff;
  margin: 0 10 0 0px;
  height: 20px;
}

.player-inner {
}

.thin-player-container {
  width: 100%;
  background-color: #6A6B6B;
}

.thin-player {
  padding: 3px;
  height: 25px;
}

.home-player {
  float: left;
  margin-top: 5px;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  padding: 0 2 2 5px;
  height: 87px;
  width: 250px;
  background-color: #eee;
}

.home-player-latest {
  font-size: 8pt;
}

.home-player-title {
  overflow: hidden;
}

.home-player-left {
  float: left;
  margin-top: 25px;
}

.home-player-right {
  margin-left: 35px;
}

.player-label {

}

/*****************************************************************************
 Podcast.js
*****************************************************************************/

.episode {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  overflow: hidden;
}

.episode-expanded {
}

.episode-compressed {
  height: 65px; 
}

.episode-left {
  float: left;
  height: 65px; 
  width: 65px;
  margin: 0px;
}

.episode-img {
  width:  65px;
  height: 65px;
}
.episode-middle {
  padding-top: 5px;
  padding-left: 5px;
  height: 65px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
}

.episode-right {
  float: right;
  min-width: 120px;
}
.episode-right-inner {
  background-color: #eeeeee;
  height: 65px;
  padding: 0px;
  margin: 0px;
}
.episode-right-inner-inner {
  padding-top: 17px;
  margin-left: 10px;
}

.episode-button {
  float: left;
  border-radius: 25px;
  background-color: #c997fe;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 5px;
}

.episode-title {
  font-size: 16pt;
  line-height: 15pt;
}

.episode-duration {
  font-size: 8pt;
  font-weight: bold;
  margin-right: 5pt;
  line-height: 7pt;
}

.episode-pubDate {
  font-size: 8pt;
  margin-left: 5pt;
  line-height: 90%;
}

.episode-selector {
  margin-top: 5px;
  margin-bottom: 5px
}


/*****************************************************************************
 Store.js
*****************************************************************************/


.checkout-box {
  border-color: #000;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  width: 100%;
}

.checkout-row {
  width: 100%;
  background-color: #eee;
}

.address-form {
  width: 50%;
  float: left;
  background-color: #8f8;
}

.cc-outer {
  float: left;
  padding: 5 4 3 14px;
  background-color: #fff;
}

.cc-yymm {
  width: 50px;
}

.cc-cvc {
  margin-left: 10px;
  width: 75;
}

.cc-num {
  width: 185px;
}

.cc-purchase {
  width: 185px;
}

.thank-you {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ddd;
}

.store-items {
  clear: both;
  padding: 1 15 5 15px;
  margin-top: 15px;
}

.product-row {
  background-color: #fee;
  clear:both;
}

.product-title {
  font-size: 12pt;
  font-weight: bold;
}

.product-outer {
}
.product-header {
  float: left;
  width: 100%;
  background-color: #ccc;
  margin: 2 2 2 2px;
  padding: 4px;
}
.product-header-item {
  float: left;
  width: 55%;
  font-weight: bold;
}
.product-header-options {
  float: left;
  width: 20%;
  text-align: center;
  font-weight: bold;
}
.product-header-price {
  float: left;
  width: 25%;
  text-align: right;
  font-weight: bold;
}


.product-row {
  float: left;
  width: 100%;
  background-color: #eee;
  margin: 2 2 2 2px;
  padding-left: 4px;
  padding-right: 4px;
  height: 75px;
}
.product-main {
  float: left;
  width: 60%;
  height: 100%;
}
.product-right {
  float: left;
  width: 40%;
  height: 100%;
}
.product-right-top {
  clear: both;
}
.product-pull-down {
  float: left;
  width: 70%;
  padding: 10px;
}
.product-price {
  float: left;
  width: 30%;
  text-align: right;
  padding: 10px;
}
.product-right-bottom {
  width: 100%;
}
.add-to-cart {
  width: 100px;
  float: right;
}



/*****************************************************************************
 Home.js
*****************************************************************************/

#mc_embed_signup {
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif; 
  width:350px;
}

#mc-inner {
  position: absolute;
  left: -5000px;
}

#home-top-row {
  clear: both;
}

.carousel {
  margin: 0 auto;
  margin-right: 20px;
  padding: 5 25 30 25px;
  width: 530px;
  float: left;
}

.card { 
  border-radius: 5px;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  padding: 5 5 5 10px;
  font-size: 12pt;
  width: 650px;
  height: 200px;
}

.home-latest-episode-card-img {
  width: 100px;
}

div.mailing-list-signup-container {
  float: left;
  width: 250px;
}

button.slick-arrow.slick-next {
  background-color: #aaa;
  border-radius: 15px;
}

button.slick-arrow.slick-prev {
  background-color: #aaa;
  border-radius: 15px;
}

/* The home-player definition is in the Player.js section for convenience */

/*****************************************************************************
 Used for the carousel in Home.js
*****************************************************************************/

/* Slider */
.slick-slider
{
    height: 200px;

    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}






























@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '<';
}
[dir='rtl'] .slick-prev:before
{
    content: '<';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '>';
}
[dir='rtl'] .slick-next:before
{
    content: '>';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: 'O';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}






















/*********************************************************
  SLIDER
**********************************************************/

.rc-slider {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: #e9e9e9;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-track {
  position: absolute;
  left: 0;
  height: 2px;
  border-radius: 6px;
  background-color: #abe2fb;
  z-index: 1;
}
.rc-slider-handle {
  position: absolute;
  margin-left: -3px;
  margin-top: -3px;
  width: 7px;
  height: 7px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 2px #96dbfa;
  background-color: #fff;
  z-index: 2;
}
.rc-slider-handle:hover {
  border-color: #57c5f7;
}
.rc-slider-handle-active:active {
  border-color: #57c5f7;
  box-shadow: 0 0 5px #57c5f7;
}
.rc-slider-mark {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  font-size: 12px;
  z-index: 3;
}
.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
}
.rc-slider-mark-text-active {
  color: #666;
}
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
  z-index: 1;
}
.rc-slider-dot {
  position: absolute;
  top: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}
.rc-slider-dot:first-child {
  margin-left: -4px;
}
.rc-slider-dot:last-child {
  margin-left: -4px;
}
.rc-slider-dot-active {
  border-color: #96dbfa;
}
.rc-slider-disabled {
  background-color: #e9e9e9;
}
.rc-slider-disabled .rc-slider-track {
  background-color: #ccc;
}
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: #ccc;
  background-color: #fff;
  cursor: not-allowed;
}
.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  -webkit-animation-name: rcSliderTooltipZoomDownIn;
          animation-name: rcSliderTooltipZoomDownIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  -webkit-animation-name: rcSliderTooltipZoomDownOut;
          animation-name: rcSliderTooltipZoomDownOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
@-webkit-keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}
@keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}
.rc-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 4;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-tooltip-hidden {
  display: none;
}
.rc-tooltip-placement-top {
  padding: 4px 0 8px 0;
}
.rc-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6c6c6c;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9;
}
.rc-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-tooltip-placement-top .rc-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6c6c6c;
}

