/*****************************************************************************
 DATASKEPTIC STYLES
*****************************************************************************/

html, body {
    width: 100%;
}

*, body {
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

* {
    outline: none;
}

@import "other";
@import "components";
@import "./layout";
@import "./pages";
