/*****************************************************************************
 DATASKEPTIC STYLES
*****************************************************************************/

html, body {
    width: 100%;
}

*, body {
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

* {
    outline: none;
}


a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted;

    &:hover {
        color: #333333;
        border-bottom: 1px solid;
        text-decoration: none;
    }

}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

@import "other";
@import "components";
@import "framework";
@import "./layout";
@import "./pages";
@import "./cms/cms";
