.time-series-explorer {
	margin: auto;
	clear: both;
	max-width: 950px;
}

.time-series-options {
	
}

.time-series-plot {
	width: 100%;
	background-color: #eee;
}

.time-series-alerts {
	
}

.time-series-alerts-list {
	
}

.time-series-alerts-list-item {
	
}

.time-series-alerts-add {
	
}

.time-series-alerts-query-console {
	padding: 25px;
	background-color: #eee;
}

.query-console-input {
	width: 100%;
	height: 200px;
    background-color: #000;
    border: 1px solid #000;
    color: #00ff00;
    padding: 8px;
    font-family: courier new;
}

.query-console-btn {
	width: 100%;
	padding: 10px;
}
.query-console-output {
	width: 100%;
	height: 200px;
}
