<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Not Found</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<div><h1>Not Found</h1>
    <p>You've encountered a bogus link, deprecated link, or bug in our site. Either way, please nagivate to <a
                href="https://dataskeptic.com">dataskeptic.com</a> to get back on course.  If you continue to have issues, feel free to reach out to kyle@dataskeptic.com for help.  Thanks!</p></div>
<script src="/static/bundle.js"></script>
</body>
</html>