/*****************************************************************************
 All pages
*****************************************************************************/

html, body {
  margin: 0px 0px 0px 0px;
  width: 100%;
}

.header {
  background-color: #3A3B3B;
  height: 65px;
}

#content-prefetch {
  display: none;
}

#blog-metadata-prefetch {
  display: none;
}

#episode-metadata-prefetch {
  display: none;
}

#episode-metadata-prefetch {
  display: none;
}

.site {
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.center {
  margin: auto;
  clear: both;
  max-width: 800px;
}

.podcasts {
  margin: 0px 5%;
}

.header-left {
  height: 57px;
  overflow: hidden;
}

#logo {
  height: 125px;
}

.header-left {
  float: left;
}

.header-right {
}

.clear {
  clear: both;
}

h1 {
  font-size: 22pt;
  padding: 0px;
  margin: 0px;
  color: #ffffff;
  font-weight: bold;
}

.header-p {
  color: #ffffff;
}

@media screen and (max-width: 640px) { .header-p { font-size: 11pt }}
@media screen and (max-width: 625px) { .header-p { font-size: 10pt }}
@media screen and (max-width: 580px) { .header-p { font-size: 9pt }}
@media screen and (max-width: 530px) { .header-p { font-size: 8pt }}

@media screen and (max-width: 288px) {
    .header-p {
      visibility:hidden;
    }
}

@media screen and (max-width: 186px) {
  h1 {
      visibility:hidden;
  }
  .header-left {
    text-align: center;
  }
  .header-left {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .episode-pubDate {
    visibility: hidden;
    display: none;
  }
}

//hamburger-menu.png

@media screen and (max-width: 700px) {
}

@media screen and (max-width:735px) {
  .address-input {
    width: 100%;
  }
}

.menu-year {
  margin-right: 5px;
}

.menu-button-up {
  background-color: #eeeeee;
}

.menu-button-down {
  background-color: #aaaaaa;
}

.menu {
    background-color: #282828;
}
.menu-container {
  max-width: 800px;
  margin: auto;
}

.menu-container-inner {
  margin: auto;
  max-width: 620px;
}

ul.topnav {
}

.menu-active {
  background-color: #fff;
  height: 35px;
}
.menu-active a:link {
  background-color: #282828;
  color: #000;
}

.menu-cart-wrap {
  display: inline;
}

.menu-cart-container {
  background-image: url("/img/png/checkout.png");   
  height: 18px;
  width: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
}

.menu-cart-inner {
  background-color: #ffff00;
  width: 12px;
  height: 14px;
  margin: auto;
  border-radius: 5px;
  opacity: 0.7;
  text-align: center;
  font-size: 9pt;
  font-weight: bold;
}

.menu-img {
}

ul.topnav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin: auto;
}

.navlink-li-container {
  float: left;
}

ul.topnav li {
    display:inline-block;
}

ul.topnav li a {
    display:inline-block;
    color: white;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}


.episode-button-sm {
  float: left;
  border-radius: 9px;
  background-color: #c997fe;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 8pt;
  padding:0 0 0 1px;  
  margin-right: 5px;  
}

.footer {
  text-align: center;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 45px;
}

.footer-links {
  padding: 5px;
}
.footer-img {
  height: 25px;
}

.loading {
  font-size: 18pt;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.loading-icon-container {
  width: 100%;
  text-align: center;
}
.loading-icon {
  margin: auto;
  height: 100px;
}

.coaching-inner {
  border-radius: 5px;
  border-color: #333;
  border-width: 1px;
  border-style: solid;
  min-height: 100px;
  padding:5px;
}


.coaching-end-box {
  border-width: 0px;
  padding: 10px;
  border-style: solid;
  border-color: #222;
  border-radius: 5px;
  background-color: #eee;
  height: 370px;
}

.coaching-end-box {
  border-width: 0px;
  padding: 10px;
  border-style: solid;
  border-color: #222;
  border-radius: 5px;
  background-color: #eee;
  height: 420px;
  margin-bottom: 100px;
}

.coach-caption {
  margin-top: 7px;
}

.coaching-left {
  line-height: 12px;
}

.coaching-right {
  font-size: 14pt;
  margin-bottom: 100px;
}

.book-me {
  margin-top: 40px;
  text-align: center;
}

.book-me-link {
  background-color: #666;
  border-radius: 5px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.book-me-1 {
  color: #fff;
}

.book-me-2 {
  color: #ccf;
  font-weight: bold;
}

.coaching-name {
  font-size: 14pt;
  line-height: 10pt;
 }

.coaching-title {
  font-style: italic;
}

/*****************************************************************************
 Player.js
*****************************************************************************/

.player {
  width: 200px;
  height: 20px;
  padding: 1px;
}

.player-progress-bar {
  margin-left: 275px;
  margin-right: 50px;
  padding: 9px;
}

.player-title-container {
  float: left;
  width: 250px;
  overflow: hidden;
}

.player-title {
  overflow: hidden;
  height: 20px;
  float: left;
  font-size: 10pt;
  color: #fff;
}

.player-duration-container {
  float: right;
  margin-top: -23px;
}

.player-duration {
  font-size: 12pt;
  color: #fff;
  margin: 0 10 0 0px;
  height: 20px;
}

.player-inner {
}

.thin-player-container {
  width: 100%;
  background-color: #6A6B6B;
}

.thin-player {
  padding: 3px;
  height: 25px;
}
.home-player {
  margin-top: 5px;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  padding: 20px 2px 20px 5px;
  background-color: #eee;
}

.home-player {
  font-size: 8pt;
}

.home-player-title {
  overflow:hidden;
  width: 100%;
  height: 25px;
}

.home-player-link {
  font-size: 11pt;
}

.home-episode-card {
  height: 100%;
}
.home-episode-card-left {
  float: left;
}
.home-episode-card-img {
  padding: 10px;
  width: 150px;
}
.home-episode-card-desc {
  font-size:10pt
}
.home-player-button-container {
}
.home-episode-card-right {
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  text-align: center;
}
.home-player-card {
  text-align: center;
}
.advertiser-card {
  text-align: center;
  padding: 10px 10px 10px 10px;
  font-size: 12pt;
  height: 300px;
}

.home-player-title {
  font-size: 14pt;
}
.home-player-date {
  font-size: 10pt;
  font-weight: bold;
}

.player-label {

}

/*****************************************************************************
 Podcast.js
*****************************************************************************/

.episode-expanded {
}

.episode-compressed {
  height: 65px; 
}

.episode-img {
  float: left;
  max-width: 200px;
  width: 100%;
}
.episode-left {
  text-align: center;
  margin-top: 10px;
  min-height: 160px;
  padding: 0px;
  overflow: hidden;
}

.episode-middle {
  max-height: 500px;
  margin-top: 10px;
  font-size: 10pt;
  padding: 0px;
  padding-left: 30px;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .episode-middle {
    padding-left: 0px;
  }
}

.episode-button {
  border-radius: 30px;
  border-width: 1px;
  background-color: #ffa;
  width: 50px;
  height: 50px;
  font-size: 16pt;
  text-align: center;
}

.episode-button-row {
  margin-top: 5px;
}

.dl-arrow {
  height: 25px;
}

.episode-download-button {
  float: left;
  border-radius: 25px;
  background-color: #c997fe;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 11pt;
  margin-right: 5px;
  font-weight: bold;
  border-width: 2px;
  border-style: groove;
}

.episode-play-button {
  background: #565858;
  border-radius: 20px;
  color: #fff;
  height: 40px;
  padding-left: 28px;
  padding-right: 28px;
  float: left;
  border: none;
  outline: none;
}
.episode-play-button:hover {
  background-color: #38383A;
}
.episode-play-button:focus {
  background-color: #222222;
}

.episode-download {
  margin-left: 35px;
  margin-top: 5px;
  float: left;
}

.episode-download-txt {
  margin-left: 10px;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  font-weight: bold;
}

.episode-transcript-link {
  margin-left: 60px;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  font-weight: bold;
  margin-top: 6px;
  float: left;
  margin-right: 10px;
}

.episode-desc {
  margin-top: 10px;
  font-size: 14px;
  color: #575959;
  letter-spacing: 0;
  line-height: 24px;
}

.episode-desc > .episode-view-more {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  padding-left: 14px;
  letter-spacing: 0;
}
.episode-desc > .episode-view-more > .glyphicon-more {
  font-size: 9px;
  vertical-align: 1px;
}

.episode-play {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;  
  font-weight: bold;
  margin-left: 10px;
  margin-right: 15px;
}

.episode-title {
  font-size: 16pt;
  line-height: 15pt;
}

.episode-duration {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 0;
}

.episode-pubDate {
  font-size: 12pt;
  margin-left: 5px;
}

.year-select-outer {

}

.episode-selector {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 30;
}

.episode-year-container {
  display: block;
  margin: auto;
  padding: 6px 0px;
  color: #ffffff;
}
.episode-year-container > .menu-year{
  color: #ffffff;
}
.episode-year-container.active > .menu-year{
  font-size: 16px;
  color: #F8E81C;
}
.episode {
  border: none;
  border-bottom: 1px solid #979797;
  padding: 0px;
  margin: 0px;
  padding-top: 60px;
  padding-bottom: 50px;
  overflow: hidden;
}
.episodes-sidebar {
  margin-top: 70px;
  background: #38383A;
  padding: 28px 42px;
  color: #ffffff;
}
.episodes-sidebar a.menu-year {
  font-size: 16px;
}
.episodes-sidebar h3 {
  color: #ffffff;
  font-size: 22px;
}
/*****************************************************************************
 Video.js
*****************************************************************************/

.video {
  margin: 5px;
  text-align: center;
}

.video-spacer {
  height: 20px;
}
/*****************************************************************************
 Blog.js
*****************************************************************************/

.floating-img {
  float:left;
}

.blog-mailinglist-container {
  background-color: #3A3B3B;
  padding: 0px 10px 10px 10px;
  margin: 80px 10px 10px 10px;
  color: #fff;
}
.blog-mailinglist-left {
  font-size: 14pt;
  padding: 20px 0px 0px 0px;
  text-align: center;
}

.blog-mailinglist-right {  
}

.blog-summary {
  margin: 10px;
  padding-top: 0px;
  padding-bottom: 50px;
  border-width: 0px 0px 1px 0px;
  border-color: #979797;
  border-style: solid;
}

.blog-transcript-link {
  background-color: #eee;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
}

.blog-view-more {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;  
  margin-left: 20px;
}

.blog-date {
  font-size: 14px;
  font-weight: bold;
  color: #7D8080;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.blog-desc {
  font-size: 14px;
  color: #575959;
  letter-spacing: 0;
  line-height: 24px;  
}

.blog-error {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fdd;
}

.anchor-link {
  visibility: hidden;
}

.blog-nav {
  margin: 10px;
  height: 25px;
  display: table;
}

.blog-categories {
  margin-top: 20px;
  margin-bottom: 10px;
}

.blog-link {
}

.blog-categories {
  height: 1px;
  clear: both;
}

.blog-link-container {
  float: left;
  background-color: #eee;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-right: 20px;
  padding: 2px 10px 2px 10px;
}

/*****************************************************************************
 BlogAuthorBottom.js
*****************************************************************************/

.related-content {
  padding-bottom: 20px;
}

.blog-author-bottom {
  padding: 20px;
  background-color: #eee;
}
.blog-author-img {
  text-align: center;
  margin-bottom: 10px;
}

/*****************************************************************************
 BlogItem.js
*****************************************************************************/

.prompt {
  visibility: hidden;
  display: none;
}

/*****************************************************************************
 Store.js
*****************************************************************************/

.store-items {
  clear: both;
  padding: 1px 15px 5px 15px;
  margin-top: 15px;
}

.prod-img {
  margin: auto;
  text-align: center;
  padding: 10px;
  width: 100%;
  display: block;
}

.product-row {
  background-color: #fee;
  clear:both;
}

.prod-outer {
  margin-bottom: 50px;
}

.product-inner {
  padding: 2px;
  margin-left: 150px;
}
.product-image {
  height: 150px;
}

.product-title {
  font-size: 14pt;
  font-weight: bold;
}
.product-row {
  width: 100%;
  background-color: #eee;
  margin: 2px 2px 2px 2px;
  padding-left: 4px;
  padding-right: 4px;
  height: 150px;
}

.prod-desc {
  padding: 5px;
  margin-bottom: 10px;
}

.product-pull-down {
}
.product-pull-down select {
  width: 100%;
  font-size: 16pt;
  height: 40px;
  border: 1px solid #222;
  padding: 0px 0px 0px 10px;
}
.product-price {
  font-size: 18pt;
  height: 40px;
  line-height: 30pt;
  font-weight: bold;
  text-align: right;
  padding: 0px 10px 10px 10px;
}

.add-to-cart {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 20pt;
}
.add-to-cart-clicked {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 20pt;
  background-color: #ff0;
}




.product-outer {
  
}
.product-header {
  float: left;
  width: 100%;
  background-color: #ccc;
  margin: 2px 2px 2px 2px;
  padding: 4px;
}
.product-header-item {
  float: left;
  width: 60%;
  font-weight: bold;
}
.product-header-options {
  float: left;
  width: 24%;
  text-align: center;
  font-weight: bold;
}
.product-header-price {
  float: right;
  width: 16%;
  text-align: right;
  margin-right: 20px;
  font-weight: bold;
}

.product-main {
  float: left;
  width: 70%
}
.product-right {
  float: left;
  width: 30%;
}
.product-right-top {
  clear: both;
}
.product-right-bottom {
  width: 100%;
}

/*****************************************************************************
 Checkout.js
*****************************************************************************/

@cart-width:250px;

.sidebar {
    background-color: #00f;
}

.sidebar-visible {
    -webkit-transition:1s;
    background-color: #ddd;
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    right: 0px;
    width: 350px;
    height: 100%;
    .transition(-webkit-transform ease 250ms); 
        .transition(transform ease 250ms);
}
.sidebar-hidden {
    -webkit-transition:1s;
    background-color: #222;
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    right: -350px;
    width: 350px;
    height: 100%;
    overflow: hidden;
.transition(-webkit-transform ease 250ms); 
        .transition(transform ease 250ms);
}

.btn-open-cart-drawer {
  background-color: transparent;
  border-width: 0px;
}

.cart-end {
  margin-top: 10px;
  padding-top: 10px;
  background-color: #eee;
  padding-top: 10px;
}
.cart-button {
  background-color: #aaa;
  border-radius: 5px;
  width: 20px;
  padding: 0px;
  height: 20px;
  margin: 1px;
}
.cart-title {
  white-space:nowrap;
  overflow: hidden;
}
.cart-quantity {
  padding-left: 10px;
  padding-right: 10px;
}
.cart-quantity-label {
  padding-top: 20px;
}
.cart-price {
  text-align: center;
}
.cart-quan {
  text-align: center;
  font-size: 10pt;
}

.country {
  margin-left: 10px;
  width: 180px;
  background-color: #fff;
}

.cart-subtotal {
  text-align: right;
  font-weight: bold;
}
.cart-total {
  text-align: right;
  font-weight: bold;
  font-size: 10pt;
  margin-right: 1px;
  overflow: hidden;
  white-space:nowrap;
}

.btnCheckoutContainer {
  text-align: right;
  padding: 15px;
}
.btnCheckout {
  background-color: #ccc;
  padding: 10px 55px 10px 55px;
  font-weight: bold;
  border-radius: 2px;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
}
.checkout-box {
  border-color: #000;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  margin: 10px;
}

.btnCheckout:hover{
   background-color:#888;
}

.checkout-row {
  width: 100%;
  background-color: #eee;
}

.address-form-container {
  max-width: 500px;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  padding: 0px 10px 10px 10px;
  margin: auto;
}

.address-form {
}

.checkout-country {
  font-size: 10pt;
  line-height: 10pt;
}
.address-validation-msg {
  background-color: #faa;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 10px;
  border-radius: 2px;
  padding: 2px 2px 2px 5px;
}

.shipping-address-title {
  font-size: 14pt;
  margin: 10px 0px 10px 0px;
}

.address-label {
  font-size: 8pt;
  height: 15px;
}

.address-row {
  clear: both;
}

.address-input {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  margin-bottom: 10px;
}


.checkout-name-field {
  float: left;
}

.cc-container {
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  max-width: 250px;
  padding: 0px 15px 0px 15px;
}

.cc-outer {
  text-align: center;
  margin-top: 10px;
  padding: 15px;
  background-color: #fff;
}

.cc-yymm {
  margin-top: 10px;
  border-width: 1px;
  border-style: solid;
}

.cc-cvc {
  margin-top: 10px;
  border-width: 1px;
  border-style: solid;
}

.cc-num {
  margin-top: 10px;
  border-width: 1px;
  border-style: solid;
}

.cc-purchase {
  margin-top: 10px;
  border-color: #aaa;
  border-width: 1px;
  padding: 5px 2px 2px 5px;
  border-style: solid;
}

.payment-error {
  background-color: #faa
}

.thank-you {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ddd;
}

.spinner {
  text-align: center;
  width: 100%;
}


/*****************************************************************************
 Home.js
*****************************************************************************/

#mc_embed_signup {
  clear:left;
  font:14px Helvetica,Arial,sans-serif; 
}

#mc-inner {
  position: absolute;
  left: -5000px;
}

#home-top-row {
  clear: both;
}

.carousel {
  margin: auto;
  margin-right: 20px;
  margin-left: 0px;
  padding: 5px 24px 34px 27px;
  width: 100%;
  float: left;
}

.card { 
  border-radius: 5px;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  font-size: 12pt;
}

.home-episode-card {
  padding: 10px;
  height: 300px;
}

.home-latest-blog-card {
  padding: 0px;
  height: 300px;
}
 
.home-latest-blog-header-left {
  float: left;
  padding-right: 10px;
}

.blog-title {
  font-family: .SFNSDisplay;
  font-size: 32px;
  color: #3A3B3B;
  letter-spacing: 0;
  margin-top: 8px;
}

.home-latest-blog-header-right {
  overflow-x: hidden;
  height: 100px;
}

.home-latest-blog-img {
  width: 100px;
}

.home-latest-blog-card-container {
  padding: 10px;
}

.home-statement {
  margin: 10px;
  margin-bottom: 25px;
}
.cart-top {
  padding: 0px;
  margin: 0px;
}
.cart-rows {
  padding: 5px 0px 0px 0px;
  margin: 2px;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 25px;
}
.cart-inner-inner {
}
.home-latest-blog-top {
  background-image: url("/img/png/back.png");
  background-repeat: repeat-x;  
  color: #fff;
  width: 100%;
  font-size: 11pt;
  font-weight: bold;
  padding: 5px 5px 1px 5px;
}

.home-social-media-card {
  background-image: url("/img/png/back.png");
  background-repeat: repeat;
  color: #fff;
  padding: 75px 10px 10px 10px;
  text-align: center;
  font-size: 18pt;
  height: 300px;
}

div.mailing-list-signup-container {
  float: left;
  width: 100%;
  margin-top: 15px;
}

#mc_embed_signup .button {
  clear:both;
  background-color: #aaa;
  border: 0 none;
  border-radius:4px;
  letter-spacing:.03em;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size:15px;
  height: 32px;
  line-height: 32px;
  margin: 0px 5px 10px 0px;
  padding:0px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  transition: all 0.23s ease-in-out 0s;
}
#mc_embed_signup .button:hover {
  background-color:#777;
}

#mc_embed_signup label {
  padding-top:10px;
  font-weight:bold;
 }
#mc_embed_signup input.email {
  font-size: 15px;
  display:block;
  padding:0 0.4em;
  margin-bottom: 10px;
  min-height:32px;
  width: 100%;
  border-radius: 3px;
 }
#mc_embed_signup input.button {
  display:block;
  width: 100%;
  margin:0 0 10px 0;
  min-width:90px;
}


button.slick-arrow.slick-next {
  background-color: #aaa;
  border-radius: 15px;
}

button.slick-arrow.slick-prev {
  background-color: #aaa;
  border-radius: 15px;
}

/* The home-player definition is in the Player.js section for convenience */

/*****************************************************************************
 Projects.js
*****************************************************************************/

.projects-container {
  max-width: 600px;
  margin: auto;
}
.project-box {
  background-color: #eeeeee;
  padding: 10px;
  margin: 15px 0px 0px 10px;
  border-radius: 5px;
  border-color: #333;
  border-width: 1px;
  border-style: solid;
  height: 300px;
}
.project-title {
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
}
.project-img-container {
  margin: auto;
  margin-bottom: 10px;
  text-align: center;  
}
.project-img {
  height: 100px;
  width: 100px;
}
.project-link {
  width: 100%;
  text-align: center;
}

.project-bottom {
  padding: 10px;
  text-align: center;
}


/*****************************************************************************
 ContactUs.js
*****************************************************************************/

.slack-email {
  border: 1px solid #888;
}

.slack-button {
  border: 1px solid #888;
  background-color: #eee;  
}
.contact-person-out {
  padding: 5px;
}

.contact-person {
  background-color: #eee;
  padding: 5px;
  text-align: center;
  height: 150px;
}
.vcenter {
  vertical-align: middle;
}

.slack-join {
  padding: 5px;
  text-align: center;
  border: 1px solid #888;
}

/*****************************************************************************
 ContactForm.js
*****************************************************************************/

.contact-form {
  background-color: #eee;
  margin: auto;
  margin-top: 10px;
  border: 2px solid #888; 
  border-radius: 4px;
  max-width: 600px;
}
.contact-form-top-container {
  clear: both;
  width: 100%;
  height: 50px;
}
.contact-name-lbl {  
  font-size: 12pt;
}
.contact-email-lbl {
  font-size: 12pt;
}
.contact-name {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  margin-bottom: 10px;
}
.contact-email {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  margin-bottom: 10px;
}
.contact-msg-container {
}
.contact-msg {
  width: 100%;
  height: 100px;
 border: 1px solid #888; 
}
.contact-send-container {
  text-align: right;
  padding: 10px;
  margin-right: 25px;
}
.contact-send {
  margin: 15px 5px 15px 5px;
  width: 100%;
  border-width: 2px;
  border-radius: 2px;
}
.contact-status {
  border-width: 1px;
  height: 70px;
  width: 100%;
  padding: 25 5 5 5px;
  text-align: center;
}


/*****************************************************************************
 Membership.js
*****************************************************************************/


.membership-container {
  margin: 0px;
  padding: 25px;
}
.membership-bottom-container {
  text-align: center;
}
.membership-inner {
  border-radius: 5px;
  border-color: #333;
  border-width: 1px;
  border-style: solid;
  min-height: 350px;
  padding:5px;
}
.membership-btn {
  text-align: center;
  height: 70px;
}
.per_month {
  font-weight: normal;
}
.membership-img {
  height: 50px;
}
.membership-title {
  text-align: center;
  font-weight: bold;
}
.membership-desc {
  text-align: center;
  padding: 5px;
  min-height: 100px;
}
.membership-price {
  font-weight: bold;
  font-size: 14pt;
  float: left;
  margin-bottom: 10px;
  width: 100%;
}
.membership-add {
  background-color: #a3b2a2;
  border-radius: 10px;
  font-weight: bold;
  margin: 0 auto;
}
.membership-add-paypal {
}

/*****************************************************************************
 LightsOut.js
*****************************************************************************/

.lights-out {
  clear: both;
  height: 170px;
  width: 150px;
  margin: auto;
}
.lo-congrats {
  background: #eee;
  max-width: 600px;
  padding: 25px;
  margin: 10px;
}
.lo-container {
  margin: auto;
  text-align: center;
}
.lo-cell {
  border: solid;
  border-width: 1px;
  width: 30px;
  height: 30px;
  float: left;
  border-color: #444;
}
.lo-cell-inactive {
  background-color: #000;
}
.lo-cell-active {
  background-color: #fff;  
}
.lo-row {
  width: 162px;
  height: 30px;
}
/*****************************************************************************
 Home.js > Slider
*****************************************************************************/

.services-outer {
  max-width: 600px;
}

.services-inner {
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 5px;
  border-color: #333;
  border-width: 1px;
  margin: 10px 0px 0px 0px;
  border-style: solid;
}
.services-title {
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
  margin-bottom: 10px;
}

/*****************************************************************************
 Admin
*****************************************************************************/

.email-label {
  width: 150px;
}

.email-input {
  width: 300px;
}

.send-email {
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}

.email-body-field {
  overflow: 'auto',
  width: 600,
  height: 200,
  maxHeight: 200
}

.form-group {
  border-width: 1px;
  border-style: solid;
}

.email-body {
  width: 100%;
  height: 200px;
}

/*****************************************************************************
 Home.js > Slider
*****************************************************************************/

/* Slider */
.slick-slider
{
    height: 300px;

    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '<';
}
[dir='rtl'] .slick-prev:before
{
    content: '<';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '>';
}
[dir='rtl'] .slick-next:before
{
    content: '>';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-size: 16px;
    line-height: 12px;

    position: absolute;
    top: 0;
    left: 0;

    width: 15px;
    height: 15px;

    content: 'o';
    text-align: center;

    opacity: .25;
    color: #222;
    background-color: #ddd;
    border-radius: 10px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1.0;
    color: #000;
}

/*********************************************************
  Admin / invoices
**********************************************************/


.invoice-tbl-header {
   background-color: #eee;
   padding: 10px;
   font-weight: bold;
  border-style: solid;
  border-width: 1px;
}
.invoice-row-cell {
  border-style: solid;
  border-width: 0px 1px 1px 1px;
}
.invoice-row-cellc {
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  text-align: center;
}
.invoice-row-cellr {
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  text-align: right;
}
.invoice-row-cellt {
  border-style: solid;
  padding: 10px;
  font-size: 14pt;
  border-width: 0px 1px 1px 1px;
  font-weight: bold;
  text-align: right;  
}
.invoice-header-c {
  text-align: center;
}
.invoice-header-r {
  text-align: right;
}


/*********************************************************
  PlayerProgressBar.js > Rcslider
**********************************************************/

.rc-slider {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: #e9e9e9;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-track {
  position: absolute;
  left: 0;
  height: 2px;
  border-radius: 6px;
  background-color: #abe2fb;
  z-index: 1;
}
.rc-slider-handle {
  position: absolute;
  margin-left: -3px;
  margin-top: -3px;
  width: 7px;
  height: 7px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 2px #96dbfa;
  background-color: #fff;
  z-index: 2;
}
.rc-slider-handle:hover {
  border-color: #57c5f7;
}
.rc-slider-handle-active:active {
  border-color: #57c5f7;
  box-shadow: 0px 0px 5px #57c5f7;
}
.rc-slider-mark {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  font-size: 12px;
  z-index: 3;
}
.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
}
.rc-slider-mark-text-active {
  color: #666;
}
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
  z-index: 1;
}
.rc-slider-dot {
  position: absolute;
  top: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}
.rc-slider-dot:first-child {
  margin-left: -4px;
}
.rc-slider-dot:last-child {
  margin-left: -4px;
}
.rc-slider-dot-active {
  border-color: #96dbfa;
}
.rc-slider-disabled {
  background-color: #e9e9e9;
}
.rc-slider-disabled .rc-slider-track {
  background-color: #ccc;
}
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: #ccc;
  background-color: #fff;
  cursor: not-allowed;
}
.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  -webkit-animation-name: rcSliderTooltipZoomDownIn;
          animation-name: rcSliderTooltipZoomDownIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  -webkit-animation-name: rcSliderTooltipZoomDownOut;
          animation-name: rcSliderTooltipZoomDownOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
@-webkit-keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}
@keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}
.rc-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 4;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-tooltip-hidden {
  display: none;
}
.rc-tooltip-placement-top {
  padding: 4px 0 8px 0;
}
.rc-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6c6c6c;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9;
}
.rc-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-tooltip-placement-top .rc-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6c6c6c;
}





