
/**
 * Forms
 */

.form {

  .field-label {
    font-size: 14px;
    color: #575959;
    letter-spacing: 0;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .field-input {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="date"],
    textarea,
    select {
      padding: 12px 16px;
      background: #fff;
      border: 1px solid #d7d9d9;
      border-radius: 4px;
      width: 100%;
    }

    .rdw-editor-toolbar,
    .richEditor {
      border: 1px solid #d7d9d9;
    }

    textarea {

    }
  }

  .success {
    color: green;
  }

  .error {
    color: red;
  }

  .form-submit {
    margin-top: 14px;
    border: 0;
    background: #f0d943;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    color: #333;
  }

}
#confirmPolicy {
  position: absolute;
  top: 37%;
  transform: translateY(-50%);
}
