.loading {
  font-size: 18pt;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.loading-icon-container {
  width: 100%;
  text-align: center;
}

.loading-icon {
  margin: auto;
  height: 100px;
}