</td>
</tr>
</table>
</td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" class="whole-width" class="wrapper"
       style="width:600px;background:#3a3b3b;">
    <tr bgcolor="#3a3b3b">
        <td style="padding:5px 0 5px 0;" align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr bgcolor="#3a3b3b">
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="padding:13px 0 10px 0;" align="center" valign="top">
                                    <a title="dataskeptic" style="display:inline-block;"
                                       href="https://www.facebook.com/dataskeptic"><img border="0"
                                                                                        style="display:block;border-width:0;"
                                                                                        src="https://gallery.mailchimp.com/aabfeb82daabbad28e6f6745e/images/a301be2d-6f98-445a-9737-70d211cacbf5.jpg"
                                                                                        alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a title="dataskeptic" style="display:inline-block;"
                                       href="https://twitter.com/dataskeptic"><img border="0"
                                                                                   style="display:block;border-width:0;"
                                                                                   src="https://gallery.mailchimp.com/aabfeb82daabbad28e6f6745e/images/fd5592b5-72f5-4f44-bd49-3bc5205f0a55.jpg"
                                                                                   alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a title="dataskeptic" style="display:inline-block;"
                                       href="https://youtube.com/dataskeptic"><img border="0"
                                                                                   style="display:block;border-width:0;"
                                                                                   src="https://gallery.mailchimp.com/aabfeb82daabbad28e6f6745e/images/e76d4bc1-5f25-4423-b5e3-8bdce65d5f83.jpg"
                                                                                   alt=""></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</td>
</tr>
</table>
</center>
</body>
</html>