</td>
</tr>
</table>
</td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" class="whole-width" class="wrapper"
       style="width:600px;background:#3a3b3b;">
    <tr bgcolor="#3a3b3b">
        <td style="padding:5px 0 5px 0;" align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr bgcolor="#3a3b3b">
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="padding:13px 0 10px 0;" align="center" valign="top">
                                    <a title="dataskeptic" style="display:inline-block;"
                                       href="https://www.facebook.com/dataskeptic"><img border="0"
                                                                                        style="display:block;border-width:0;"
                                                                                        src="https://s3.amazonaws.com/dataskeptic.com/assets/logos/facebook_icon.jpg"
                                                                                        alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a title="dataskeptic" style="display:inline-block;"
                                       href="https://twitter.com/dataskeptic"><img border="0"
                                                                                   style="display:block;border-width:0;"
                                                                                   src="https://s3.amazonaws.com/dataskeptic.com/assets/logos/twitter_icon.jpg"
                                                                                   alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a title="dataskeptic" style="display:inline-block;"
                                       href="https://youtube.com/dataskeptic"><img border="0"
                                                                                   style="display:block;border-width:0;"
                                                                                   src="https://s3.amazonaws.com/dataskeptic.com/assets/logos/youtube_icon.jpg"
                                                                                   alt=""></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</td>
</tr>
</table>
</center>
</body>
</html>