<table>
    <tr>
        <th>Dimension</th><th>Quantity</th><th>Factory: rx</th>
    </tr>

    <% for (var i = 0; i < products.length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
    <tr>
        <td><%= products[i].dimension %></td>
        <td><%= products[i].quantity %></td>
        <td><%= products[i].factory %></td>
    </tr>
    <% } %>
</table>