.cms-table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;

  thead {
    th {
      background-color: #DDEFEF;
      border: solid 1px #DDEEEE;
      color: #336B6B;
      padding: 10px;
      text-align: left;
      text-shadow: 1px 1px 1px #fff;
    }
  }

  tbody {
    td {
      border: solid 1px #DDEEEE;
      color: #333;
      padding: 10px;
      text-shadow: 1px 1px 1px #fff;
    }
  }

  .cms-abstract-textarea {
    width: 350px;
    height: 150px;
  }

  .cms-title-input {
    width: 350px;
    margin-bottom: 10px;
  }
  .bbb {
  font-size: 100pt;
  }
  .cms-admin-container {
    width: 100%;
    font-size: 44pt;
    border: 1px;
    color: #f00;
    background-color: #444;
  }

  .cms-admin-save-btn {
    padding: 10px;
    border: 1px;
    width: 200px;
  }
}