.cms-table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;

  thead {
    th {
      background-color: #DDEFEF;
      border: solid 1px #DDEEEE;
      color: #336B6B;
      padding: 10px;
      text-align: left;
      text-shadow: 1px 1px 1px #fff;
    }
  }

  tbody {
    td {
      border: solid 1px #DDEEEE;
      color: #333;
      padding: 10px;
      text-shadow: 1px 1px 1px #fff;
    }
  }
}

  .cms-abstract-textarea {
    width: 100%;
    height: 150px;
  }

  .cms-title-input {
    width: 100%;
    margin-bottom: 10px;
    font-size: 12pt;
  }
  .bbb {
  }

  .cms-admin-container {
    width: 100%;
    background: #eee;
    margin: 5px;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: #222;
  }

  .cms-admin-save-btn {
    padding: 10px;
    border: 1px;
    width: 100%;
  }

  .cms-btn-save {
    padding: 10px;
    width: 100%;
  }

.cms-publish-date-input {
  width: 100%;
}



.related-content-container {
  border: 1px;
  border-style: solid;
  border-color: #222;
  margin-bottom: 15px;
}
.related-content-person-left {
}
.related-content-person-img {
  width: 200px;
  margin-left: -15px;
  margin-right: 5px;
}
.related-content-person-right {
  padding-left: 15px;
}
.related-content-imageless-inner {
  padding-left: 15px;
}
.related-content-h3 {
  font-size: 12pt;
}


.blog-share-container {
  float: left;
}

.blog-share-bar-container {
  margin-bottom: 24px;
  background-color: #f4f4f4;
  padding: 32px;

  @media (max-width: 414px) {
    padding: 24px 20px;
  }

  h3 {
    font-size: 32px;
    line-height: 40px;
    color: #3a3b3b;
    margin: 0px;
    padding-bottom: 12px;
    font-weight: normal;
  }

  .blog-share-container__wrapper {
    display: flex;
    justify-content: flex-start;

    flex-direction: row;
    flex-wrap: wrap;

    .blog-share-container {
      margin: 12px 12px 0px 0px;
    }
  }
}

