.cms-table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;

  thead {
    th {
      background-color: #DDEFEF;
      border: solid 1px #DDEEEE;
      color: #336B6B;
      padding: 10px;
      text-align: left;
      text-shadow: 1px 1px 1px #fff;
    }
  }

  tbody {
    td {
      border: solid 1px #DDEEEE;
      color: #333;
      padding: 10px;
      text-shadow: 1px 1px 1px #fff;
    }
  }
}

  .cms-abstract-textarea {
    width: 100%;
    height: 150px;
  }

  .cms-title-input {
    width: 100%;
    margin-bottom: 10px;
    font-size: 12pt;
  }
  .bbb {
  }

  .cms-admin-container {
    width: 100%;
    background: #eee;
    margin: 5px;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: #222;
  }

  .cms-admin-save-btn {
    padding: 10px;
    border: 1px;
    width: 200px;
  }

  .cms-btn-save {
    padding: 10px;
    width: 100%;
  }

.cms-publish-date-input {
  width: 100%;
}


