.careers_page {
  .submit-wrapper {
    width: 400px;
  }

  .resume_upload {
    .upload-files-preview {
      margin-top: 10px;
      margin-left: -15px;
      margin-right: -15px;

      button.close {
        color: #333;
      }
    }
  }
}
