.checkout-page {
  clear: both;
  margin-left: -15px;
  margin-right: -15px;
  background: #FAFAFA;
  border-bottom: 1px solid #D7D9D9;
}
.checkout-page .required {
  color: red;
}

.checkout-page .checkout-form {
  margin-right: 400px;
  margin-left: 10%;
  border-right: 1px solid #D7D9D9;
  padding-top: 57px;
  padding-bottom: 57px;
}

.checkout-page .checkout-form .inner {
  padding-right: 15%;
}

.checkout-page .checkout-form h2,
.checkout-page .checkout-form h3 {
  padding: 0px;
  margin: 0px;
}

.checkout-page .checkout-cart {
  padding: 25px 32px;
  width: 400px;
  float: right;
}

@media (max-width: 880px) {
  .checkout-page .checkout-cart {
    margin: 0px;
    width: auto;
    float: inherit;
    display: none;
  }

  .checkout-page .checkout-form {
    margin: 0px 0px 0px 10%;
  }

  .checkout-page .credit-cart-form .complete-btn .btn {
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

.checkout-page .address-form-container {
  margin: auto;
}

.checkout-page .address-form-container .country {
  width: 100%;
  margin: 0px;
}

.checkout-page .address-form {
}

.checkout-page .credit-cart-form {
  margin-top: 48px;
}

.checkout-page input[type="text"],
.checkout-page select {
  padding: 12px 16px;
  background: #FFFFFF;
  border: 1px solid #D7D9D9;
  border-radius: 4px;
  width: 100%;
}

.checkout-page .success {
  border-color: #3c763d !important;
}
.checkout-page .error {
  border-color: #a94442 !important;
}

.checkout-page select {
}

.checkout-page label,
.checkout-page .address-label,
.checkout-page .card-label {
  font-size: 14px;
  color: #575959;
  letter-spacing: 0;
  margin-top: 32px;
  margin-bottom: 16px;
}
.checkout-page .no-clear:after{
  display: none;
}
.checkout-page .credit-cart-form .complete-btn {
  margin-top: 48px;
}
.checkout-page .credit-cart-form .complete-btn .btn {
  background: #F0D943;
  border-radius: 4px;
  min-width: 340px;
  font-size: 16px;
}