
/*****************************************************************************
 Membership.js
*****************************************************************************/

.membership-container {
  margin: 0px;
  padding: 25px;
}

.membership-bottom-container {
  text-align: center;
}

.membership-inner {
  border-radius: 5px;
  border-color: #333;
  border-width: 1px;
  border-style: solid;
  min-height: 350px;
  padding: 5px;
}

.membership-btn {
  text-align: center;
  height: 70px;
}

.per_month {
  font-weight: normal;
}

.membership-img {
  height: 50px;
}

.membership-title {
  text-align: center;
  font-weight: bold;
}

.membership-desc {
  text-align: center;
  padding: 5px;
  min-height: 100px;
}

.membership-price {
  font-weight: bold;
  font-size: 14pt;
  float: left;
  margin-bottom: 10px;
  width: 100%;
}

.membership-add {
  background-color: #a3b2a2;
  border-radius: 10px;
  font-weight: bold;
  margin: 0 auto;
}

.membership-add-paypal {
}