.comment-box-form-container {

  .recording-flow-container {
    //margin-top: 32px;
    //margin-bottom: 37px;
  }

  .upload-file-type-box {
    margin-top: 32px;
    margin-bottom: 37px;

    .dropzone {
      min-height: 105px;
    }

    .upload-files-preview {
      margin-top: 20px;

      .upload-file-item-box {

        .thumbnail {
          position: relative;

          button.close {
            position: absolute;
            top: -12px;
            right: -12px;
            opacity: 1;

            background: #FAFAFA;
            border: 0;
            box-shadow: 0px 0px 4px #D7D9D9;
            border-radius: 50%;

            width: 24px;
            height: 24px;

            &:hover {
              background-color: #FFFFFF;
            }

            >span {
              font-size: 1em;
              color: #000;
            }
          }
        }
      }
    }
  }

  .comment-type-selector {
    .btn-type {
      text-align: center;
      padding: 20px 10px;
      border-radius: 5px;
      background: #FAFAFA;
      border: 1px solid #D7D9D9;

      color: #000000;

      &.active {

      }

      .description {
        width: 100%;
        word-wrap: break-word;
        color: #3a3b3b;

        .title {
          font-weight: bolder;
        }

        .subtitle {
          font-size: 98%;
          font-weight: normal;
        }
      }

      .icon {
        height: 128px;
        width: 128px;
        margin: 0px auto;

        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;

        &.icon-keyboard {
          background-image: url('/img/proposals/keyboard1x.png');
        }
        &.icon-upload {
          background-image: url('/img/proposals/upload1x.png');
        }
        &.icon-record {
          background-image: url('/img/proposals/micro1x.png');
        }
      }
    }
  }
}

.deadline {


  kbd {
    border-radius: 4px;

    >* {
      font-size: 12px;
    }
  }
}