.comment-box-form-container {

  .comment-type-selector {

    .btn-type {
      text-align: center;

      padding: 10px;
      margin: 15px 0px 0px 10px;
      border-radius: 5px;
      height: 300px;
      background: #FAFAFA;
      border: 1px solid #D7D9D9;

      color: #000000;

      &.active {

      }

      .icon {
        height: 20px;
        padding: 20px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;

        &.icon-keyboard {
          background-image: url('/img/proposals/keyboard.png');
        }
        &.icon-upload {
          background-image: url('/img/proposals/upload.png');
        }
        &.icon-record {
          background-image: url('/img/proposals/micro.png');
        }
      }
    }

  }
}