
/* The home-player definition is in the Player.js section for convenience */

/*****************************************************************************
 Projects.js
*****************************************************************************/

.projects-container {
  max-width: 600px;
  margin: auto;
}

.project-box {
  background-color: #eeeeee;
  padding: 10px;
  margin: 15px 0px 0px 10px;
  border-radius: 5px;
  border-color: #333;
  border-width: 1px;
  border-style: solid;
  height: 300px;
}

.project-title {
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
}

.project-img-container {
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

.project-img {
  height: 100px;
  width: 100px;
}

.project-link {
  width: 100%;
  text-align: center;
}

.project-bottom {
  padding: 10px;
  text-align: center;
}