
/*****************************************************************************
 Home.js > Slider
*****************************************************************************/

.services-outer {
  max-width: 600px;
}

.services-inner {
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px 0px 0px;

  background: #FAFAFA;
  border: 1px solid #D7D9D9;
}

.services-title {
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
  margin-bottom: 10px;
}