<div style="white-space: pre-line">
    Hi <%= first_name %>,

    Thank you for supporting Data Skeptic.  Your order has been received and will be processed on our end right away.  Please allow a few weeks for shipping.  If you have any questions or issues with your order, don't hesitate to reach out to me directly.

    All the best,

    Kyle
</div>