<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Data Skeptic</h1>
    <p>We're in the middle of a migration of our site.</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Please check back shortly as we migrate all our site functionality to our new framework.
    <br/><br/>
    Please contact <a href="mailto:info@dataskeptic.com">info@dataskeptic.com</a> for any questions.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <a href="https://itunes.apple.com/podcast/the-data-skeptic-podcast/id890348705"><img src="https://s3.amazonaws.com/dataskeptic.com/img/2018/apple-podcasts.jpg" height="100" /></a>
    </div>
    <div class="col-md-6">
      <a href="http://www.stitcher.com/s?fid=50561&amp;refid=stpr"><img src="https://s3.amazonaws.com/dataskeptic.com/img/2018/stitcher.jpg" height="100" /></a>
    </div>
  </div> <!-- row -->
</div>


</body>
</html>
