@recording-margin-top: 4px;
@shadow-box-height: 6px;

@recording-icon-bg: #000;
@recording-button-shadow-color: #a94442;

@recording-button-bg-color: #fff;
@recording-button-border-color: #D7D9D9;

@recording-button-width: 50px;

@animation-speed: 0.8s;

.recording-flow-container {

  margin-top: (@shadow-box-height + @recording-margin-top);

  .recorder {
    margin-top: 10px;
    height: @recording-button-width;
  }

  .recording-listener {
    display: none;
  }

  .row {
    display: flex;
  }

  .messages {
    flex-grow: 1;
    align-items: center;
    display: flex;
    margin-left: 10px;

    p {
      margin: 0px;
      padding: 0px;
    }

    .info {
      vertical-align: middle;
      word-wrap: break-word;
      line-break: loose;
    }
  }

  .player-btn {
    width: 48px;
    height: 48px;

    outline: none;

    border: 2px solid #D7D9D9;
    border-radius: 50%;
    background: transparent;

    position: relative;
    padding: 15px;
    cursor: pointer;

    &.disabled {
      opacity: 0.4;
    }

    &:hover {
      box-shadow: 0px 0px 5px -2px #F4E26E;
    }

    .player-btn__play {
      display: block;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-left: 100px solid #575959;
      border-left: 13px solid #575959;
      border-bottom: 7px solid transparent;
      margin-left: 2px;
    }

    .player-btn__pause {
      height: 100%;

      .player-btn__pause__line {
        width: 4px;
        height: 100%;
        background: #575959;

        &.l-1 {
          float: left;
        }
        &.l-2 {
          float: right;
        }
      }
    }
  }

  .btn-recorder {
    float: left;
    outline: none;
    background-image: url('https://s3.amazonaws.com/dataskeptic.com/img/2018/contact-us/Rectangle+Copy+13.svg');
    background-size: cover;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: @recording-button-width;
    height: @recording-button-width;
    text-align: center;

    overflow: hidden;
    padding: 0px;

    &:focus,
    &:active,
    &:focus:active {
      outline: none;
    }

    .icon {
      color: @recording-icon-bg;
      fill: @recording-icon-bg;
      margin-left: 4px;

      &.microphone {
        width: 11px;
        height: 18px;
        background-image: url('https://s3.amazonaws.com/dataskeptic.com/img/2018/contact-us/microphone+-+FontAwesome.svg');
        background-size: cover;
        margin: 0px;
      }
    }

    &.recording {
      animation: recorder @animation-speed cubic-bezier(.5, 0, 1, 1) infinite alternate;

      .icon {
        color: @recording-button-shadow-color;
        fill: @recording-button-shadow-color;
      }
    }
  }

  @keyframes recorder {
    from {
      box-shadow: 0px 0px 0px @shadow-box-height transparent;
    }
    to {
      border-color: transparent;
      box-shadow: 0px 0px 0px @shadow-box-height @recording-button-shadow-color;
    }
  }

  .media {
    .media-heading {
      font-weight: normal;
      font-family: inherit;
    }

    .media-left {
      padding-top: 2px;
      text-align: center;

      .icon {
        padding-left: 2px;
        font-size: 20px;
      }
    }
  }

  .review-step {
    .buttons {
      margin-top: 10px;

      .btn-recording-discard,
      .btn-recording-submit {
        color: #fff;
        padding: 0px 12px;
        border-radius: 4px;
        float: left;
        border: none;
        outline: none;
        margin-right: 10px;
        height: 26px;
      }

      .btn-recording-discard {
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;
      }

      .btn-recording-submit {
        color: #fff;
        background-color: #449d44;
        border-color: #398439;
      }
    }
  }

  .error-step {
    .error-box {
      color: @recording-button-shadow-color;

      .media-left {
        color: @recording-button-shadow-color;
      }

      .media-body {
        color: @recording-button-shadow-color;
      }
    }
  }

}
